@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto:wght@100;300&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 400 to 900 */

.play {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

:root {
  --main-color: #289b7e;
  --main-font: "Playfair Display", serif;
  --primary-font: "Roboto", sans-serif;
}
/* Nav start */
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-family: var(--primary-font);
  font-weight: bold;
}

.logo {
  margin-left: 5rem;
}
.burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 5rem;
}
.burger > span {
  border: 2px solid var(--main-color);
  width: 30px;
  margin: 2px 0;
}
.burger > span :first-child {
  margin: 0;
}
.burger > span :last-child {
  margin: 0;
}
/* Nav end */
/* Header Start */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
  margin-top: 2rem;
}
.main-headings {
  font-size: 4rem;
  font-family: var(--main-font);
  transform: translateY(-40px);
  color: #000;
}
