@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto:wght@100;300&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 400 to 900 */

.play {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

:root {
  --main-color: #289b7e;
  --main-font: "Playfair Display", serif;
  --primary-font: "Roboto", sans-serif;
}
/* Nav start */
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-family: var(--primary-font);
  font-weight: bold;
}

.logo {
  margin-left: 5rem;
  height: 80px;
  width: 80px;
  border: 2px dashed var(--main-color);
  padding: 4px;
  padding-left: 18px;
  border-radius: 100%;
  cursor: pointer;
}
.img-logo {
  background-image: url(./images/logo.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 80%;
  height: 80%;
}
.burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 5rem;
  transition: all 0.9s linear;
}
.burger:hover {
  transform: rotateZ(180deg);
}
.burger > span {
  border: 2px solid var(--main-color);
  width: 30px;
  margin: 2px 0;
}
.burger > span :first-child {
  margin: 0;
}
.burger > span :last-child {
  margin: 0;
}
/* Nav end */
/* Header Start */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
  margin-top: 2rem;
}

.main-headings {
  font-size: 4rem;
  font-family: var(--main-font);
  transform: translateY(-40px);
  color: #00000097;
  line-height: 5rem;
}

.main-headings > span {
  color: black;
}
.primary-headings {
  max-width: 500px;
  font-family: var(--primary-font);
  line-height: 25px;
  margin-bottom: 1rem;
  color: #716d6d;
}
.btn-fill {
  background-color: var(--main-color);
  color: #fff;
  border: 2px solid #fff;
  padding: 12px 20px;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.9s ease-out;
  border-radius: 12px;
}
.btn-fill:hover {
  background-color: #fff;
  border: 2px solid var(--main-color);
  color: var(--main-color);
}
.btn-outline.active {
  border: 2px solid var(--main-color);
  color: var(--main-color);
  background: transparent;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 12px;
  transition: all 0.5s ease-out;
}

.btn-outline.active:hover {
  color: #fff;
  background-color: var(--main-color);
}
.img-container {
  border: 4px dashed var(--main-color);
  background-color: var(--main-color);
  background-clip: content-box;
  border-radius: 50%;
  box-shadow: 4px 7px 5px 2px #bcbaba;
  transition: all 0.9s ease-in-out;
}
.img-container:hover {
  border-color: transparent;
}

.header-img {
  border-radius: 100%;
  background: url(./images/oswaldo-ibanez-1NPUmTaiMeg-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 400px;
  height: 400px;
  transition: all 0.9s ease-in-out;
}
.header-img:hover {
  transform: scale(105%);
}
/* header section end */
.section-one {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 7rem;
}
.section-one-img {
  background: url(./images/gesphotoss-1i9K55ni5Dk-unsplash.jpg);
  background-position: 20% top;
  background-size: cover;
  transition: all 0.9s ease-in-out;
  background-repeat: no-repeat;
}
/* Section One End */
/* Products start */
.products {
  margin-top: 10rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.products > .products-heading {
  font-family: var(--primary-font);
  font-size: 2rem;
  margin-bottom: 3rem;
}
.products > .product-categories {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.products > .product-categories > button {
  margin-right: 20px;
  margin-bottom: 2rem;
  flex-shrink: 0;
}
.products > .product-items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
  max-width: 60rem;
  overflow-x: auto;
}
.products > .product-items-container > .item {
  margin: 20px;
  padding: 16px;
  border: 2px dashed var(--main-color);
  border-radius: 16px;
  transition: all 0.9s ease-in-out;
  background-color: #ebf1f0;
  cursor: pointer;
}
.products > .product-items-container > .item > .item-layer {
  background-color: #ebf1f0;
  padding: 40px;
  margin-right: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.item > .item-layer > img {
  width: 150px;
  height: 200px;
  object-fit: cover;
  object-position: top;
}
.item > .item-layer > img:hover {
  transform: scale(110%);
  transition: all 0.9s ease-in-out;
}
#top-rating,
#best-seller {
  border: 2px solid transparent;
  padding: 10px;
  border-radius: 12px;
  transition: all 0.9s ease-in-out;
}
.active-button {
  border: 2px dashed black;
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 12px;
}
.active-AllNewArrival-button {
  background-color: var(--main-color) !important;
  color: white !important;
}
.product-items-container > .item > .item-name {
  font-family: var(--primary-font);
  margin-bottom: 10px;
}
.product-items-container > .item > .item-price {
  font-family: var(--primary-font);
  margin-bottom: 10px;
}
.product-items-container > .item > .view-products {
  font-family: var(--primary-font);
  margin-bottom: 10px;
  text-decoration: none;
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
/* Products Section ENd */
/* Customer Review section Start */
.customer-heading {
  font-family: var(--primary-font);
  text-align: center;
  font-size: 2rem;
  margin: 5rem auto;
  font-stretch: extra-expanded;
}
.customer-reviews {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 90%;
  justify-items: center;
  margin: auto;
  background: linear-gradient(0.45turn, #ebf1f0, #fff, var(--main-color));
  border-radius: 80% 70% 70% 30%/ 30% 60% 20% 30%;
  border: 4px solid var(--main-color);
}
.customer {
  /* text-align: center;
  line-height: 2rem;
  width: 20%;
  min-width: 200px;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 1rem;
  overflow: hidden;
  background: #ebf1f0;
  padding: 1rem;
  border-radius: 12px;
  border: 2px dashed var(--main-color); */
  width: 28%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  min-height: 40vh;
  justify-content: space-around;
  align-items: center;
  flex-shrink: 0;
  margin-left: 1rem;
  /* background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 97, 121, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  ); */
  background-color: #fff;
  padding: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 30% 70% 70% 30%/ 30% 30% 70% 70%;
  border-top: 2px solid var(--main-color);
  border-left: 2px solid var(--main-color);
  box-shadow: 2px 2px 2px 2px var(--main-color),
    2px 2px 2px 2px var(--main-color);
  transition: all 1s ease-in-out;
}
.customer:hover {
  border-radius: 1rem;
  transform: rotateZ(20deg);
}
.customer > div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-shrink: 0;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2px;
}
.customer-reviews > .customer > .customer-description {
  /* font-size: 1rem;
  width: 100%;
  margin-top: 20px;
  text-align: initial;
  margin: 10px;
  margin-left: 0;
  margin-right: 0;
  font-family: var(--primary-font);
  color: #716d6d;
  font-weight: 600;
  font-style: italic;
  min-height: 200px;
  word-break: break-word; */
  font-family: var(--primary-font);
  font-style: italic;
  font-weight: 400;
  max-width: 70%;
  margin: auto;
}
.customer-img > .img {
  /* width: 150px;
  height: 200px;
  border-radius:12px;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  margin-top: 20px; */
  width: 100px;
  height: 100px;
  background-position: center;
  background-size: contain;
  border-radius: 100%;
  border: 2px solid var(--main-color);
}
.img.img-one {
  background-image: url(./images/yogendra-singh-uWs_N5Dlyiw-unsplash.jpg);
}
.img.img-two {
  background-image: url(./images/joshua-rondeau-xazIYnxpS2Q-unsplash.jpg);
}
.img.img-three {
  background-image: url(./images/milan-popovic-kOnmHdLJTNI-unsplash.jpg);
}
.img.img-four {
  background-image: url(./images/gesphotoss-1i9K55ni5Dk-unsplash.jpg);
}
.img.img-five {
  background-image: url(./images/alireza-esmaeeli-BGSZ1t80rpM-unsplash.jpg);
}
.img.img-six {
  background-image: url(./images/oswaldo-ibanez-1NPUmTaiMeg-unsplash.jpg);
}
.customer > div > h1 {
  padding: 4px;
  margin-left: 1rem;
  font-family: var(--primary-font);
  font-size: 1.5rem;
  white-space: nowrap;
  font-weight: 800;
  color: var(--main-color);
}
/* Customer Review section End */
footer {
  background: #ebf1f0;
  border-top: 4px dashed var(--main-color);
  border-radius: 71% 29% 100% 0% / 10% 78% 22% 90%;
  margin-top: 10rem;
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
  font-family: var(--primary-font);
}
footer > .container {
  background: #ebf1f0;
  width: 20%;
  min-width: 200px;
  margin-left: 1rem;
  margin-right: 1rem;
  border: 2px solid transparent;
  padding: 1rem;
  border-radius: 12px;
}
footer.container .primary-heading {
  font-family: var(--main-color);
  font-weight: normal;
  font-size: 15px;
  margin-bottom: 20px;
}
footer > .container > h1.footer-heading {
  margin-bottom: 1rem;
  text-align: left;
  font-family: var(--main-font);
  color: var(--main-color);
}
footer > .container > h2,
footer > .container > h3 {
  /* color: white; */
  font-size:1.2rem;
}

@media screen and (max-width: 960px) {
  .section-content {
    margin-top: 10rem;
  }
}
